<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <p-panel header="Add New Employee">

                <span class="ui-float-label mt-4">
                    <input id="float-input" type="text" [(ngModel)]="firstname" size="30" pInputText required>
                    <label for="float-input">First Name</label>
                </span>

                <span class="ui-float-label mt-4">
                    <input id="float-input" type="text" [(ngModel)]="lastname" size="30" pInputText required>
                    <label for="float-input">Last Name</label>
                </span>

                <span class="ui-float-label mt-4">
                    <input id="float-input" type="text" size="30" [(ngModel)]="age" pInputText required>
                    <label for="float-input">Age</label>
                </span>

                <span class="ui-float-label mt-4">
                    <input id="float-input" type="text" size="30" [(ngModel)]="designation" pInputText required>
                    <label for="float-input">Designation</label>
                </span>
                <p-footer>
                    <button pButton type="button" label="Save" style="margin-right: .25em"
                        (click)="saveEmployee()"></button>
                    <button pButton type="button" label="Cancel" class="ui-button-secondary"
                        (click)="cancelEmployee()"></button>
                </p-footer>
            </p-panel>
        </div>
    </div>
</div>